@import url('https://fonts.googleapis.com/css?family=YourFontFamily');

body {
  font-family: 'Work Sans', sans-serif;
}

.app {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
    "header header"
    "nav content"
  ;
}

.content {
  background-color: peru;
  grid-area: content;
  height: 100vw;
}


