.dialogs {
  display: flex;
}

.dialogs-item {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.dialog {
  padding: 5px 0;
}

.dialog a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
}

.dialog a.active {
  background-color: #f0f2f5;
}

.messages {
  flex: 3;
  padding: 10px;
  
}

.message {
  background-color: #f0f2f5;
  padding: 8px;
  margin: 8px 0;
  border-radius: 10px;
}
